html, body, .bodyContainer {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;

}

body {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: grey;

}

.bodyContainer {
  width: 375px;
  height: 809px;
  background-color: red;
}


/*.topContainer {*/
/*  background-color: purple;*/
/*  border-radius: 0 0 30px 30px;*/
/*}*/

/*.widget {*/
/*  color: white;*/
/*}*/

/*.graphic {*/
/*  text-align: center;*/
/*  margin: auto;*/
/*  border-radius: 80%;*/
/*  font-size: 30px;*/
/*  background-color: blue;*/
/*}*/

/*.bottomContainer {*/
/*  background-color: white;*/

/*}*/



